@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b;
}

body {
    background: #f6f6f6;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
    font-size: 1rem;
}

/* 
    HEADER
*/

header {
    background: #008484;
    height: 70px;

}

header * {
    color: #ffff;
}

header h1 {
    margin-top: 15px;
}

header h1 a:hover {
    color: rgb(231, 231, 231);
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 22px;
}

header ul li a:hover {  
    color: rgb(214, 214, 214);  
    background: #006669;
    transition: 0.5s;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
   width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    color: #008489;
}

/* 
    SLIDER
*/

.slider-title {
    text-align: center;
    padding: 30px 0px;
}

/* .carousel {
    height: 300px;
} */

.carousel-inner, .carousel-item {
    height: 300px;
    border-radius: 4px;
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: 500;
    background: #000000;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
    color: #ffffff;

}

.carousel-caption-hack {
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    color: #fff;
    text-align: center;
    width: 100%;
}

.carousel-caption h5 a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.carousel-caption h5:hover {
    text-decoration: underline;
}

/* Main qismi */

.main-content h2 {
    margin: 30px 0px;
}

.main-content .post {
    margin-bottom: 30px;
}

.main-content .post_text {
    background: #ffffff;
    padding: 12px;
    border-radius: 5px;
    
}

.main-content .post_text h3 a:hover {
    text-decoration: underline;
    color: #5c5b5b;
}

.main-content .post_text h3 {
   margin: 14px 0;
}

.main-content .post_text i {
    margin: 0px 14px 14px 0px;
 }

.main-content .img img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sidebar */

.search {
    margin-top: 99px;
}

.sidebar .section {
    background: #ffffff;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.sidebar .topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.sidebar .topics li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2rem;
}

.sidebar .topics li a:hover{
    padding: 10px;
    transition: all 0.3s;
}

/* Footer qismi */

.footer {
    background: #303036;
    color: #d3d3d3;
    position: relative;
    /* height: 400px; */
}

.footer .footer-section {
    padding: 22px;
}

.footer h4, .footer h3 {
    color: white;
}

.footer .about .contact span {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.footer .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 5px;
    transform: all .3s;
    color: #ffffff;
}

.footer .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s
}

.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}
.footer .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: 320px;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

/* Post single */

.single_post {
    margin-bottom: 30;
}

.single_post_text img {
    width: 100%;
}

.single_post_text iframe {
    width: 100%;
}

.single_post .info {
    margin: 20px;
}

.single_post .info i {
    display: inline-block;
    margin-right: 20px;
}

.single_post a {
    text-decoration: underline;
}

.single_post a:hover {
    text-decoration: none;
    color: #008484;
}

/* Registratsiya */

.reg_form h2{

    text-align: center;
    margin: 30px 0;
}

.reg_form a {
    font-size: 1.2rem;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px
}

.reg_form a:hover {
    margin-left: 55px;
    transition: all .3s;
}