

/*
    HEADER
*/

header {
    background: #008484;
    height: 70px;

}

header * {
    color: #ffff;
}

header h1 {
    margin-top: 15px;

}

header h1 a {
    text-decoration: none;
}

header h1 a:hover {
    color: rgb(231, 231, 231);
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 22px;
}

header ul li a:hover {
    color: rgb(214, 214, 214);
    background: #006669;
    transition: 0.5s;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    color: #008489;
}


/* Footer qismi */

.footer {
    background: #303036;
    color: #d3d3d3;
    position: relative;
    /* height: 400px; */
}

.footer .footer-section {
    padding: 22px;
}

.footer h4, .footer h3 {
    color: white;
}

.footer .about .contact span {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.footer .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 5px;
    transform: all .3s;
    color: #ffffff;
}

.footer .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s
}

.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}
.footer .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: 320px;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

/* SAIDBAR */

.sidebar{
    background: #006669;
    margin: 1rem 0;
    min-height: 600px;
}

.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

.sidebar ul a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.sidebar ul a:hover{
    padding-left: 10px;
    transition: all 0.3s;
    color: #d3d3d3;
    text-decoration: none;
}

.posts{
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.posts h2{
    text-align: center;
    margin: 1.5rem;
}

.posts .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 900;
}

.posts .post div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.edit a {
    color: rgb(255 193 7);
}

.delet  a{
    color: rgb(255, 0, 0);
}

/* CREATE */

.add-post{
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.add-post h2{
    text-align: center;
    margin: 1.5rem;
}

.add-post .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 900;
}

.add-post .post .div{
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}
